language = "python3" 
run = "python main.py"
print("Hello World!")
name = input("What's your name?")

print("Hello", name)

import matplotlib as mpl
import matplotlib.pyplot as plt

plt.plot([1, 2, 4, 8, 16])

plt.savefig('plot.png')
